<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <label for="pirate_name">Pirate Name:</label>
  <input type="text" name="pirate[name]">
  <label for="pirate_weight">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
  <label for="pirate_height">Pirate Height:</label>
  <input type="text" name="pirate[height]">
  <label for="ship_1_name">Ship 1 Name:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="ship_1_weight">Ship 1 Type:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="ship_1_height">Ship 1 Booty:</label>
  <input type="text" name="pirate[ships][][booty]">
  <label for="ship_2_name">Ship 2 Name:</label>
  <input type="text" name="pirate[ships][][name]">
  <label for="ship_2_weight">Ship 2 Type:</label>
  <input type="text" name="pirate[ships][][type]">
  <label for="ship_2_height">Ship 2 Booty:</label>
  <input type="text" name="pirate[ships][][booty]">
  <input type="submit" value="submit">
</form>
